*.class

# package files
*.jar
*.war
*.ear

# binaries
ClassiCubeLauncher/build/*
ClassiCubeLauncher/dist/*
ClassiCubeSelfUpdater/build/*
ClassiCubeSelfUpdater/dist/*

# local settings
ClassiCubeLauncher/nbproject/private/*
ClassiCubeSelfUpdater/nbproject/private/*
